.button12 a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding: 1em 2em;
    width: 300px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    background-color: #e67db1;
    transition: 0.3s;
}

.button12 a::before {
    content: '';
    position: absolute;
    bottom: -7px;
    right: -7px;
    width: 100%;
    height: 2px;
    background-color: #da89b1;
    transition: 0.2s ease 0s;
}

.button12 a::after {
    content: '';
    position: absolute;
    top: 7px;
    right: -7px;
    width: 2px;
    height: 100%;
    background-color: #da89b1;
    transition: 0.2s ease 0.2s;
}

.button12 a:hover::before {
    width: 0%;
}

.button12 a:hover::after {
    height: 0%;
}

.button12 a:hover {
    text-decoration: none;
    background-color: #afd5f0;
}


/*有志団体募集フォーム*/

.button12-2 a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding: 1em 2em;
    width: 300px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    background-color: #ddf1ff;
    transition: 0.3s;
}

.button12-2 a::before {
    content: '';
    position: absolute;
    bottom: -7px;
    right: -7px;
    width: 100%;
    height: 2px;
    background-color: #afd5f0;
    transition: 0.2s ease 0s;
}

.button12-2 a::after {
    content: '';
    position: absolute;
    top: 7px;
    right: -7px;
    width: 2px;
    height: 100%;
    background-color: #afd5f0;
    transition: 0.2s ease 0.2s;
}

.button12-2 a:hover::before {
    width: 0%;
}

.button12-2 a:hover::after {
    height: 0%;
}

.button12-2 a:hover {
    text-decoration: none;
    background-color: #afd5f0;
}