@charset "utf-8";
@font-face {
	font-family: 'BebasNeue';
	src: url(../fonts/BebasNeue-Regular.otf);
}

/*========= レイアウトのためのCSS ===============*/

body {
    background-image: url(../picture/index_background.png);
    background-size: 100%, auto;
    background-repeat: repeat;
}

#center-contents{
	display: flex;
	justify-content: center;
	align-items: center;
}

#title{
    font-size: medium;
	font-family: BebasNeue;
	text-align: center;
	width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


a{
    color: #333;
}

a:hover{
     text-decoration: none;   
}